[submodule "s2-ruck-master/deps/minhook"]
	path = deps/minhook
	url = git@github.com:TsudaKageyu/minhook.git
[submodule "deps/pluginloader"]
	path = deps/pluginloader
	url = git@github.com:kacejot/pluginloader.git
[submodule "deps/imgui/imgui"]
	path = deps/imgui/imgui
	url = https://github.com/ocornut/imgui.git
